/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #fdf7f7
}


#home_logo {
  width: 100%;
}

#corner_signout {
  float: right;
}

#corner_signin {
  float: right;
}

#home_p {
  text-align: center;
}


table.exercise_index_table {
  border-collapse: collapse;
}

.exercise_index_table td, .exercise_index_table th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.exercise_index_table .price {
  text-align: right;
}

.exercise_index_table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.exercise_index_table th .asc {
  background-image: url(http://cdn-images.sewelldirect.com/siteimages/layout/upArrow.gif);
}

.exercise_index_table th .desc {
  background-image: url(http://www.pearsonvue.com/athena/static/images/down_arrow.gif);
}